.form {
  display: flex;
  flex-direction: column;
  border: none;
  width: 500px;
  padding: 20px;
};
;
.title{  display: flex;
  flex-direction: column;
  width: 300px;
  margin-bottom: 10px;};

.input {
  width: 250px;
  height: 30px;
  margin-top: 3px;
  font-weight: 400;
  font-size: 13px;
  outline: none;
  font-style: oblique;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
  background: transparent;
  &:focus {
    border: 2px solid #000;
  }
};

.input::placeholder {
  color: rgb(0, 0, 0);
  font-size: 1em;
}

.button {
  margin-top: 10px;
  width: 150px;
  border: transparent;
  border-radius: 10px;
  background-color: rgb(42, 94, 173);
  padding: 10px;
  color: white;
  font-weight: 400;
  font-size: 15px;
  font-style: oblique;

  &:hover,
  &:focus{
    background-color: darkgreen;
  }
}
