.nav{
  display: flex;  
  margin-left: auto;
  flex-wrap: nowrap
};
.nav_ul{
  display: flex;
  align-items: baseline;
  margin-right: 20px;
  margin-top: 10px;
}

.nav_item{
  font-size: 20px;
  color: white;

  &:not(:last-child) {
    margin-right: 50px;
  }
};
.header{
  height: 50px;
  background-color: black;
  color: white;
};

.logo{
  font-size: 20px;
  color: white;
  font-weight: 700;
}