.button{
  margin-left: 10px;
  margin-top: 5px;
  padding: 2px;
  border: none;
  border-radius: 5px;
  background-color: rgb(42, 94, 173);
  padding: 8px 10px;
  color: white;
  font-style: italic;

  &:hover,
  &:focus{
    background-color: red;
  }
};

.list{
  display: flex;
  align-items: baseline;
  padding: 2px;
  width: 100%;
};

.wrap{
  display: flex;
  align-items: baseline;
};

.item{
  &:not(:last-child){
    margin-right: 10px;
  }
}